@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,500,600,700,900");
* {
  font-family: 'Noto Sans TC','Noto Serif TC', sans-serif; }

img {
  width: 100%;
  vertical-align: middle; }

article {
  overflow: hidden; }

section.banner {
  position: relative;
  z-index: 0; }
  section.banner figure.mobile-pic {
    display: none; }
  section.banner .buy-btn {
    width: 15%;
    font-size: 2vw;
    line-height: 4vw;
    border-radius: 2vw;
    background-color: #FFE100;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 5.5%;
    right: 6%;
    cursor: pointer; }
  @media only screen and (max-width: 768px) {
    section.banner figure.pic {
      display: none; }
    section.banner figure.mobile-pic {
      display: block; }
    section.banner .buy-btn {
      width: 50%;
      font-size: 7vw;
      line-height: 13vw;
      border-radius: 6.5vw;
      bottom: 5.5%;
      right: 0;
      left: 0;
      margin: auto; } }

section.product-info {
  padding: 2rem 0; }
  section.product-info .info {
    width: 90%;
    padding: 2rem;
    padding-bottom: 3rem;
    margin: 10px auto;
    background-color: #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    section.product-info .info .content {
      width: 100%;
      height: 300px;
      font-size: 0.8rem;
      line-height: 1.5;
      overflow: hidden; }
      section.product-info .info .content.open {
        height: 100%; }
      section.product-info .info .content .title-2 {
        font-size: 1rem; }
    section.product-info .info .btn {
      width: 100px;
      font-size: .8rem;
      line-height: 1.6rem;
      text-align: center;
      color: #fff;
      background-color: #FFE100;
      border-radius: .8rem;
      cursor: pointer;
      position: absolute;
      bottom: .5rem;
      left: 0;
      right: 0;
      margin: auto; }
  @media only screen and (max-width: 768px) {
    section.product-info {
      padding: 1rem 0; }
      section.product-info h1 {
        padding: 10px 0; }
      section.product-info .info {
        padding: 1rem;
        padding-bottom: 3rem; }
        section.product-info .info .content {
          height: 200px; }
        section.product-info .info .btn {
          width: 120px;
          font-size: 1rem;
          line-height: 2rem;
          border-radius: 1rem;
          bottom: .5rem; } }

section.introduce {
  padding: 100px 0; }
  section.introduce .part {
    font-size: 0; }
    section.introduce .part .info {
      width: 33.333333%;
      display: inline-block;
      vertical-align: middle; }
      section.introduce .part .info p {
        font-size: 0.8rem;
        line-height: 2;
        color: #B2ADA9; }
        section.introduce .part .info p i.fas.fa-star {
          color: #FFE100;
          padding-right: 5px; }
    section.introduce .part figure.pic {
      width: 66.666666%;
      display: inline-block;
      vertical-align: middle; }
    section.introduce .part:nth-child(odd) .info {
      padding-left: 10%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    section.introduce .part:nth-child(even) .info {
      position: relative;
      left: 66.666666%; }
    section.introduce .part:nth-child(even) figure.pic {
      position: relative;
      left: -33.333333%; }
  @media only screen and (max-width: 768px) {
    section.introduce {
      padding: 10px 0; }
      section.introduce .part {
        padding: 10px 0; }
        section.introduce .part .info {
          width: 100%;
          display: block;
          text-align: center; }
          section.introduce .part .info p {
            margin: auto;
            text-align: left; }
        section.introduce .part figure.pic {
          width: 100%;
          display: block; }
        section.introduce .part:nth-child(2) .info p {
          width: 62%; }
        section.introduce .part:nth-child(3) .info p {
          width: 84%; }
        section.introduce .part:nth-child(4) .info p {
          width: 62%; }
        section.introduce .part:nth-child(5) .info p, section.introduce .part:nth-child(6) .info p {
          width: 68%; }
        section.introduce .part:nth-child(odd) .info {
          padding-left: 0%; }
        section.introduce .part:nth-child(even) .info {
          position: relative;
          left: 0%; }
        section.introduce .part:nth-child(even) figure.pic {
          position: relative;
          left: 0%; } }

section.carousel {
  padding: 2rem 0; }
  section.carousel .wrapper {
    width: 90%;
    margin: auto;
    font-size: 0; }
    section.carousel .wrapper .arrow-left {
      width: 4%;
      margin-right: 1%;
      padding-bottom: 4%;
      cursor: pointer;
      position: relative;
      display: inline-block;
      vertical-align: middle; }
      section.carousel .wrapper .arrow-left:before {
        content: '〈';
        display: block;
        font-size: 2rem;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    section.carousel .wrapper .arrow-right {
      width: 4%;
      margin-left: 1%;
      padding-bottom: 4%;
      cursor: pointer;
      position: relative;
      display: inline-block;
      vertical-align: middle; }
      section.carousel .wrapper .arrow-right:before {
        content: '〉';
        display: block;
        font-size: 2rem;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%); }
    section.carousel .wrapper .carousel-box {
      width: 90%;
      display: inline-block;
      vertical-align: middle; }
      section.carousel .wrapper .carousel-box .carousel-item {
        width: 100%;
        padding: 1rem;
        background-color: #eee;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        section.carousel .wrapper .carousel-box .carousel-item .title {
          font-size: 1rem;
          text-align: center;
          margin-bottom: 0.2rem; }
        section.carousel .wrapper .carousel-box .carousel-item .content {
          font-size: 0.8rem;
          line-height: 1.5;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          white-space: normal;
          overflow: hidden; }
        section.carousel .wrapper .carousel-box .carousel-item a.link {
          display: block;
          width: 80px;
          margin: 10px auto;
          font-size: 0.8rem;
          line-height: 1.6rem;
          color: #fff;
          background-color: #FFE100;
          text-decoration: none;
          border-radius: .8rem;
          text-align: center; }

section.certification .box {
  font-size: 0; }
  section.certification .box figure.pic {
    width: 33.333333%;
    display: inline-block; }

section.prodcut .box {
  max-width: 1320px;
  padding: 50px 0;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  section.prodcut .box .product-pic {
    width: 50%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    section.prodcut .box .product-pic .dot-box {
      width: 95%;
      margin: 10px auto; }
      section.prodcut .box .product-pic .dot-box #dot-carousel figure {
        opacity: .5; }
      section.prodcut .box .product-pic .dot-box #dot-carousel .center figure {
        opacity: 1; }
  section.prodcut .box .info {
    width: 50%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    section.prodcut .box .info p.txt {
      padding-bottom: 15px;
      color: #B2ADA9;
      font-size: 2rem;
      line-height: 1.5; }
    section.prodcut .box .info p.price {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #FFE100; }
      section.prodcut .box .info p.price.strikethrough {
        color: #B2ADA9;
        text-decoration: line-through; }
    section.prodcut .box .info .func-box {
      width: calc(100% - 30px);
      position: absolute;
      bottom: 0; }
      section.prodcut .box .info .func-box .num-box {
        padding: 10px 0;
        text-align: center; }
        section.prodcut .box .info .func-box .num-box i.fas.fa-minus-circle, section.prodcut .box .info .func-box .num-box i.fas.fa-plus-circle {
          margin: 0 10px;
          font-size: 1.6rem;
          color: #FFE100;
          cursor: pointer;
          display: inline-block;
          vertical-align: middle; }
        section.prodcut .box .info .func-box .num-box input {
          width: 30%;
          font-size: 1.2rem;
          text-align: center;
          display: inline-block;
          vertical-align: middle; }
      section.prodcut .box .info .func-box .btn {
        font-size: 1.6rem;
        line-height: 3rem;
        border-radius: 1.5rem;
        color: #fff;
        background-color: #FFE100;
        text-align: center;
        cursor: pointer; }

@media only screen and (max-width: 768px) {
  section.prodcut .box {
    padding: 10px 0;
    display: block; }
    section.prodcut .box .product-pic {
      width: 100%;
      margin-bottom: 30px; }
    section.prodcut .box .info {
      width: 100%; }
      section.prodcut .box .info .func-box {
        width: 100%;
        position: relative; }
        section.prodcut .box .info .func-box .btn {
          width: 100%; } }
