@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,500,600,700,900");
* {
  font-family: 'Noto Sans TC','Noto Serif TC', sans-serif; }

img {
  width: 100%;
  vertical-align: middle; }

body {
  background-color: #F8F8FA; }

section.banner {
  padding: 30px 0; }
  @media only screen and (max-width: 768px) {
    section.banner {
      padding: 10px 0; } }

section.shop-cart .wrapper {
  max-width: 1320px;
  padding: 0 15px;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  section.shop-cart .wrapper:after {
    content: '';
    display: block;
    clear: both; }
  section.shop-cart .wrapper .left-content {
    width: 65%;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
    @media only screen and (max-width: 768px) {
      section.shop-cart .wrapper .left-content {
        width: 100%;
        padding-right: 0;
        float: none; } }
  section.shop-cart .wrapper .right-content {
    width: 35%;
    float: left; }
    @media only screen and (max-width: 768px) {
      section.shop-cart .wrapper .right-content {
        width: 100%;
        float: none; } }
  section.shop-cart .wrapper .content {
    margin-bottom: 20px;
    border: 1px solid #eee;
    -webkit-box-shadow: 1px 1px 5px #eee;
    box-shadow: 1px 1px 5px #eee;
    background-color: #fff; }
    section.shop-cart .wrapper .content .title {
      padding: 10px;
      background-color: #F6F6F6;
      border-bottom: 1px solid #eee;
      font-size: 1rem; }
    section.shop-cart .wrapper .content .box {
      padding: 10px; }
      section.shop-cart .wrapper .content .box .row {
        font-size: .8rem;
        color: #666;
        padding: 5px 0; }
        section.shop-cart .wrapper .content .box .row .sub-title {
          padding: 5px 0; }
        section.shop-cart .wrapper .content .box .row input[type="text"] {
          min-width: 300px;
          border: 1px solid #ccc;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
        section.shop-cart .wrapper .content .box .row select {
          width: 100%;
          border: 1px solid #ccc; }
        section.shop-cart .wrapper .content .box .row input[type="radio"] {
          display: inline-block;
          vertical-align: middle; }
        section.shop-cart .wrapper .content .box .row .radio-txt {
          display: inline-block;
          vertical-align: middle; }
      section.shop-cart .wrapper .content .box .oreder-info {
        font-size: .8rem;
        color: #666;
        padding: 5px 0; }
        section.shop-cart .wrapper .content .box .oreder-info:after {
          content: '';
          display: block;
          clear: both; }
        section.shop-cart .wrapper .content .box .oreder-info.order-total {
          margin-top: 20px;
          padding: 20px 0;
          border-top: 1px solid #ccc; }
        section.shop-cart .wrapper .content .box .oreder-info .order-title {
          float: left; }
        section.shop-cart .wrapper .content .box .oreder-info .order-num {
          float: right; }
      section.shop-cart .wrapper .content .box .btn {
        width: 100%;
        font-size: 0.8rem;
        line-height: 2;
        text-align: center;
        background-color: #FFE100;
        color: #fff;
        border-radius: 5px;
        cursor: pointer; }
    section.shop-cart .wrapper .content .list-head {
      padding: 10px;
      border-bottom: 1px solid #eee;
      font-size: 0; }
    section.shop-cart .wrapper .content .product-list {
      padding: 10px;
      font-size: 0; }
    section.shop-cart .wrapper .content .column {
      font-size: .8rem;
      text-align: center;
      display: inline-block;
      vertical-align: middle; }
      section.shop-cart .wrapper .content .column.product-info {
        width: 40%;
        text-align: left; }
        section.shop-cart .wrapper .content .column.product-info figure.pic {
          width: 80px;
          display: inline-block;
          vertical-align: middle; }
        section.shop-cart .wrapper .content .column.product-info .product-name {
          padding-left: 10px;
          display: inline-block;
          vertical-align: middle; }
      section.shop-cart .wrapper .content .column.price {
        width: 10%; }
      section.shop-cart .wrapper .content .column.num {
        width: 30%; }
        section.shop-cart .wrapper .content .column.num i.fas.fa-minus-circle, section.shop-cart .wrapper .content .column.num i.fas.fa-plus-circle {
          cursor: pointer;
          display: inline-block;
          vertical-align: middle; }
        section.shop-cart .wrapper .content .column.num input {
          width: 100px;
          margin: 0 5px;
          text-align: center;
          display: inline-block;
          vertical-align: middle; }
      section.shop-cart .wrapper .content .column.subtotal {
        width: 10%; }
      section.shop-cart .wrapper .content .column.cross {
        width: 10%; }
        section.shop-cart .wrapper .content .column.cross i.fas.fa-times {
          cursor: pointer; }

@media only screen and (max-width: 768px) {
  section.shop-cart .wrapper .left-content {
    width: 100%;
    padding-right: 0;
    float: none; }
  section.shop-cart .wrapper .right-content {
    width: 100%;
    float: none; }
  section.shop-cart .wrapper .content {
    margin-bottom: 10px; }
    section.shop-cart .wrapper .content .box .row input[type="text"] {
      min-width: auto;
      width: 100%; }
    section.shop-cart .wrapper .content .list-head {
      display: none; }
    section.shop-cart .wrapper .content .product-list {
      position: relative; }
    section.shop-cart .wrapper .content .column.product-info {
      width: 80%; }
      section.shop-cart .wrapper .content .column.product-info figure.pic {
        width: 30%; }
    section.shop-cart .wrapper .content .column.price {
      width: 20%;
      vertical-align: bottom; }
    section.shop-cart .wrapper .content .column.num {
      width: 80%;
      margin-top: 10px;
      text-align: left; }
      section.shop-cart .wrapper .content .column.num i.fas.fa-minus-circle, section.shop-cart .wrapper .content .column.num i.fas.fa-plus-circle {
        font-size: 1.5rem; }
    section.shop-cart .wrapper .content .column.subtotal {
      width: 20%;
      margin-top: 10px; }
    section.shop-cart .wrapper .content .column.cross {
      position: absolute;
      top: 10px;
      right: 10px; } }
