<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 走潔淨 Ponitor
		link(rel="stylesheet", href="./css/css_reset.css")
		link(rel="stylesheet", href="./css/owl.carousel.min.css")
		link(rel="stylesheet", href="./css/owl.theme.default.min.css")
		link(rel="stylesheet", href="./css/index.css")
		link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
	body
		section.banner
			figure.pic
				img(src="./images/web-01.png")
		section.compare
			figure.pic
				img(src="./images/web-02.png")
		section.introduce
			h1 使用情境
			.part
				.info
					h2 辦公室空間
					h3 個人消毒、環境清潔
					p
						i.fas.fa-star
						| 使用噴霧罐進行手部消毒與個人物品清潔
					p
						i.fas.fa-star
						| 加濕器空間除臭、消毒
				figure.pic
					img(src="./images/web-04.png")
			.part
				.info
					h2 居家環境
					h3 居家消毒、異味消除
					p
						i.fas.fa-star
						| 客廳、廚房、臥室、廁所、小孩房、寵物區
					p
						i.fas.fa-star
						| 狗狗尿尿後用拖把清理，處理異味與清潔
					p
						i.fas.fa-star
						| 加濕器除了消除異味，其殺菌功能可殺死90%以上的病菌
					p
						i.fas.fa-star
						| 桌椅使用抹布擦數，預防幼童因病菌造成過敏或身體不適
				figure.pic
					img(src="./images/web-03.png")
			.part
				.info
					h2 交通運輸
					h3 設施消毒、異味消除
					p
						i.fas.fa-star
						| 使用抹布、噴霧罐清潔拉環、座椅等設施
					p
						i.fas.fa-star
						| 拖把水加入走潔淨錠，消毒除湊一起搞定
				figure.pic
					img(src="./images/web-05.png")
			.part
				.info
					h2 百貨公司
					h3 出入消毒、防疫檢查
					p
						i.fas.fa-star
						| 人流出入頻繁的場所，在出入口設置噴撒消毒
					p
						i.fas.fa-star
						| 接待人員使用噴灑罐噴灑客人雙手
					p
						i.fas.fa-star
						| 電扶梯把手、電梯消毒使用抹布擦拭
					p
						i.fas.fa-star
						| 使用自動感應噴灑器清潔雙手
				figure.pic
					img(src="./images/web-06.png")
			.part
				.info
					h2 專業場所
					h3 設備消毒、毒素分解
					p
						i.fas.fa-star
						| 針對設備器皿的消毒、有機揮發物的毒素分解
					p
						i.fas.fa-star
						| 背大型噴灑器進行大範圍消毒、除臭
					p
						i.fas.fa-star
						| 待消毒物品浸泡在加滿走潔淨的水槽、容器中
					p
						i.fas.fa-star
						| 機台可使用噴霧罐和抹布擦拭
				figure.pic
					img(src="./images/web-07.png")
		section.certification
			h1 嚴格認證
			.box
				figure.pic
					img(src="./images/web-08.png")
				figure.pic
					img(src="./images/web-09.png")
				figure.pic
					img(src="./images/web-10.png")
		section.prodcut
			h1 訂購 Ponitor
			.box
				figure.pic
					img(src="./images/p1.jpg")
				.info
					p.txt 最強消毒錠-走潔淨清潔消毒一次搞定
					.btn 立即購買







		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		script(src="./js/libs/owl.carousel.min.js")
		
		