<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 走潔淨 Ponitor
		link(rel="stylesheet", href="./css/css_reset.css")
		link(rel="stylesheet", href="./css/owl.carousel.min.css")
		link(rel="stylesheet", href="./css/owl.theme.default.min.css")
		link(rel="stylesheet", href="./css/common.css")
		link(rel="stylesheet", href="./css/index.css")
		//- link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
		link(rel="icon" href="/images/ponitor-logo-02.png" type="image/icon type")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
	body
		include ../component/Header.pug
		article
			section.banner
				figure.pic
					img(src="./images/web-01.png")
				figure.mobile-pic
					img(src="./images/mobile-01.jpg")
				.buy-btn 立即購買
			section.product-info
				h1 商品介紹
				.info
					.content
						.title-2 title-2
						p 走潔淨具備強效消毒、滅菌、除臭的功能，主因是其特色的強氧化性，對細菌、病毒、黴菌等微生物的細胞壁有很強的吸附和穿透能力。
						p 透過強氧化性可以破壞細菌的細胞壁或是解除病毒的套膜後，奪取代謝系統中的電子，有效氧化細胞內的酶，使得細胞酵素系統失去活性而自然死亡，達到滅菌效果（其中包括了病毒、細菌、芽胞菌、孢子、原生物以及容易滋生病菌、臭味的生物膜）。除此，也能有效氧化分解水中酚類、氰化物、醛類、胺類、硫醇化物。
						p 基礎材料成分是源自於萃取檸檬酸專利製程二氧化氯，故無毒性、不含重金屬、易揮發等特性，不會對環境有所破壞。
						p 其活化後會以分子狀態迅速溶於水中，並且能在最適合於人體、動物、環境條件的中性酸鹼度(PH值約為7)下發揮其強效消毒、滅菌、除臭的功能，對人體及動物皮膚接觸幾乎不會有傷害也不易引發人體的發炎反應。
						p 二氧化氯由於是利用氧化對抗微生物，因此不會產生氯化消毒副產物；二氧化氯和水反應後，會產生亞氯酸鹽，並未被國際癌症研究中心及美國環保署列為人類致癌物。
						p 走潔淨清潔抑菌錠溶於水的原液所提供的消毒，可以進行空氣中的噴灑，以冷霧狀氣體或自然揮發（沸點僅為11℃）方式進行有效地去除空氣中尼古丁、甲醛等有害物質，完成空氣中滅菌、消毒的效果。
						p 亦或者以液體方式進行擦拭、塗抹、浸泡等方式，更能強效消滅所有的致病微生物（包括細菌、病毒、真菌、芽孢、隱孢子蟲等）。故走潔淨主成份化合物可以替環境滅菌與消毒、杜絕傳染病的傳播，亦對環境、人體、動物無害，是友善的綠色消毒清潔劑。
					.btn 展開資訊

			section.compare
				figure.pic
					img(src="./images/web-02.png")
			section.introduce
				h1 使用情境
				.part
					.info
						h2 辦公室空間
						h3 個人消毒、環境清潔
						p
							i.fas.fa-star
							| 使用噴霧罐進行手部消毒與個人物品清潔
						p
							i.fas.fa-star
							| 加濕器空間除臭、消毒
					figure.pic
						img(src="./images/web-04.png")
				.part
					.info
						h2 居家環境
						h3 居家消毒、異味消除
						p
							i.fas.fa-star
							| 客廳、廚房、臥室、廁所、小孩房、寵物區
						p
							i.fas.fa-star
							| 狗狗尿尿後用拖把清理，處理異味與清潔
						p
							i.fas.fa-star
							| 加濕器除了消除異味，其殺菌功能可殺死90%以上的病菌
						p
							i.fas.fa-star
							| 桌椅使用抹布擦數，預防幼童因病菌造成過敏或身體不適
					figure.pic
						img(src="./images/web-03.png")
				.part
					.info
						h2 交通運輸
						h3 設施消毒、異味消除
						p
							i.fas.fa-star
							| 使用抹布、噴霧罐清潔拉環、座椅等設施
						p
							i.fas.fa-star
							| 拖把水加入走潔淨錠，消毒除湊一起搞定
					figure.pic
						img(src="./images/web-05.png")
				.part
					.info
						h2 百貨公司
						h3 出入消毒、防疫檢查
						p
							i.fas.fa-star
							| 人流出入頻繁的場所，在出入口設置噴撒消毒
						p
							i.fas.fa-star
							| 接待人員使用噴灑罐噴灑客人雙手
						p
							i.fas.fa-star
							| 電扶梯把手、電梯消毒使用抹布擦拭
						p
							i.fas.fa-star
							| 使用自動感應噴灑器清潔雙手
					figure.pic
						img(src="./images/web-06.png")
				.part
					.info
						h2 專業場所
						h3 設備消毒、毒素分解
						p
							i.fas.fa-star
							| 針對設備器皿的消毒、有機揮發物的毒素分解
						p
							i.fas.fa-star
							| 背大型噴灑器進行大範圍消毒、除臭
						p
							i.fas.fa-star
							| 待消毒物品浸泡在加滿走潔淨的水槽、容器中
						p
							i.fas.fa-star
							| 機台可使用噴霧罐和抹布擦拭
					figure.pic
						img(src="./images/web-07.png")
			section.carousel
				h1 相關文章
				.wrapper
					.arrow-left
					.carousel-box.owl-carousel
						.carousel-item
							.title title-2
							.content 1Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
						.carousel-item
							.title title-2
							.content 2Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
						.carousel-item
							.title title-2
							.content 3Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
						.carousel-item
							.title title-2
							.content 4Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
					.arrow-right
			section.carousel
				h1 最新消息
				.wrapper
					.arrow-left 
					.carousel-box.owl-carousel
						.carousel-item
							.title title-2
							.content 5Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
						.carousel-item
							.title title-2
							.content 6Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
						.carousel-item
							.title title-2
							.content 7Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
						.carousel-item
							.title title-2
							.content 8Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
						.carousel-item
							.title title-2
							.content 9Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
						.carousel-item
							.title title-2
							.content 10Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							a.link(href="") 閱讀文章 
					.arrow-right
			section.certification
				h1 嚴格認證
				.box
					figure.pic
						img(src="./images/web-08.png")
					figure.pic
						img(src="./images/web-09.png")
					figure.pic
						img(src="./images/web-10.png")
			section.prodcut
				h1 訂購 Ponitor
				.box
					.product-pic
						#product-carousel.owl-carousel
							figure.product1
								img(src="./images/p1.jpg")
							figure.product2
								img(src="./images/p2.jpg")
							figure.product3
								img(src="./images/p3.jpg")
						.dot-box
							#dot-carousel.owl-carousel
					.info
						p.txt 最強消毒錠-走潔淨清潔消毒一次搞定
						p.price.strikethrough NT$350
						p.price NT$350
						.func-box
							.num-box
								i.fas.fa-minus-circle.minus
								input.product-num(type="text" value="1")
								i.fas.fa-plus-circle.plus
							.btn 立即購買
		include ../component/Footer.pug




		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		script(src="./js/libs/owl.carousel.min.js")
		script(src="./js/libs/TweenMax.js")
		script(src="./js/libs/ScrollMagic.js")
		script(src="./js/libs/highlight.pack.js")
		script(src="./js/libs/animation.gsap.js")
		script(src="./js/libs/debug.addIndicators.js")  
		script(src="./js/common.js")
		script(src="./js/index.js")
		
		
		