<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 走潔淨 Ponitor
		link(rel="stylesheet", href="./css/css_reset.css")
		link(rel="stylesheet", href="./css/owl.carousel.min.css")
		link(rel="stylesheet", href="./css/owl.theme.default.min.css")
		link(rel="stylesheet", href="./css/common.css")
		link(rel="stylesheet", href="./css/shopcart.css")
		//- link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
		link(rel="icon" href="/images/ponitor-logo-02.png" type="image/icon type")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
	body
		include ../component/Header.pug
		article
			section.banner
				h1 購物車
			section.shop-cart
				.wrapper
					.content
						.title 購物車
						.list-head
							.column.product-info 商品資料
							.column.price 單價
							.column.num 數量
							.column.subtotal 小計
						.product-list
							.column.product-info
								figure.pic
									img(src="./images/p1.jpg")
								.product-name 走潔淨
							.column.price
								| NT$
								span.price-num 350
							.column.num
								i.fas.fa-minus-circle.minus
								input.product-num(type="text" value="1")
								i.fas.fa-plus-circle.plus
							.column.subtotal
								| NT$
								span.subtotal-num 350
							.column.cross
								i.fas.fa-times
						.product-list
							.column.product-info
								figure.pic
									img(src="./images/p1.jpg")
								.product-name 走潔淨
							.column.price
								| NT$
								span.price-num 500
							.column.num
								i.fas.fa-minus-circle.minus
								input.product-num(type="text" value="1")
								i.fas.fa-plus-circle.plus
							.column.subtotal
								| NT$
								span.subtotal-num 500
							.column.cross
								i.fas.fa-times
					
					.left-content
						.content
							.title 訂購人資料
							.box
								.row
									.sub-title 姓名
									input(type="text")
								.row
									.sub-title 電話
									input(type="text")
								.row
									.sub-title email
									input(type="text")
						.content
							.title 收件人資料
							.box
								.row
									input(type="radio")
									.radio-txt 同訂購人資料
								.row
									.sub-title 姓名
									input(type="text")
								.row
									.sub-title 電話
									input(type="text")
								.row
									.sub-title email
									input(type="text")
					.right-content
						.content
							.title 選擇送貨及付款方式
							.box
								.row
									.sub-title 送貨地點
									select(name="")
										option(value="0") 0
								.row
									.sub-title 送貨方式
									select(name="")
										option(value="0") 0
								.row
									.sub-title 付款方式
									select(name="")
										option(value="0") 0
						.content
							.title 訂單資訊
							.box
								.oreder-info
									.order-title 小計：
									.order-num NT$350
								.oreder-info
									.order-title 運費：
									.order-num NT$60
								.oreder-info.order-total
									.order-title 合計：
									.order-num NT$410
								.btn 前往結帳
					
					.content
						.shopcart-description
							p 儘管應付女朋友看似不顯眼，卻佔據了我的腦海。聶耳說過一句經典的名言，理智·思想腦筋若無正確的思想的培養，任它怎樣發達，這發達總是畸形的發達，那麼一切的行為都沒有穩定的正確的立足點。這段話讓我的心境提高了一個層次。雨果曾經提到過，讓自己的內心藏著一條巨龍，既是一種苦刑，也是一種樂趣。希望大家實際感受一下這段話。我認為，列寧講過一句值得人反覆尋思的話，大機器工業只​​是意味著全國電氣化。這影響了我的價值觀。契訶夫曾講過，對一切事情都喜歡做到準確、嚴格、正規，這些都不愧是高尚心靈所應有的品質。這段話令我陷入了沈思。我們要學會站在別人的角度思考。哈菲茲曾說過，在年輕人的頸項上，沒有什麼東西能比事業心這顆燦爛的寶珠更迷人的了。這段話對世界的改變有著深遠的影響。


		include ../component/Footer.pug






		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")
		script(src="./js/libs/owl.carousel.min.js")
		script(src="./js/common.js")
		script(src="./js/shopcart.js")
		
		
		