header
  a.logo-link(href="./")
    figure.logo
      img(src="./images/ponitor-logo-13.png")
  .func-box
    a.func-link(href="./shopcart.html")
      i.fas.fa-shopping-cart.micon
    a.func-link(href="")
      i.fas.fa-user-circle.micon